@font-face {
  font-family: 'gotham';
  src        : url('assets/fonts/gotham-black/gotham_black_regular-webfont.woff2') format('woff2'),
    url('assets/fonts/gotham-black/gotham_black_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style : normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src        : url('assets/fonts/helvetica-neue-ragular/helveticaneue_regular-webfont.woff2') format('woff2'),
    url('assets/fonts/helvetica-neue-ragular/helveticaneue_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style : normal;
}

body {
  margin     : 0;
  font-weight: normal;
  font-size  : 18px;
  font-family: "Helvetica Neue";
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
.search {
  font-family   : 'gotham';
  text-transform: uppercase;
}

#app {
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  color                  : #FFFFFF;
  display                : flex;
  flex-flow              : column;
  min-height             : 100vh;
}

.table-pagination {
  text-align: right;
  margin    : 10px 0;
}

.button-wrapper {
  text-align: right;
}

.image {
  width     : auto;
  height    : auto;
  max-height: 100%;
  max-width : 100%;
  object-fit: contain;
}

.custom-dialog {
  @media screen and (max-width: $mobile-view) {
    width        : 100% !important;
    margin-top   : 0 !important;
    margin-bottom: 0 !important;
    height       : 100% !important;
    overflow     : auto !important;
  }
}

.el-select {
  width: 100%;
}

.artwork-container {
  height         : 150px;
  display        : flex;
  align-items    : center;
  justify-content: center;
}

.upload-container {
  position: relative;

  .clear-img-icon {
    position    : absolute;
    margin-top  : -10px;
    right       : 0;
    top         : 0;
    margin-right: -10px;
    font-size   : 20px;
    cursor      : pointer;
    color       : #FF0000 !important;
    background  : $--color-primary;
  }
}

.el-upload--picture-card {
  display        : flex;
  align-items    : center;
  justify-content: center;
  width          : 100%;
  line-height    : unset;
  color          : #FFFFFF !important;
}

.font-bold {
  font-weight: bold;
}

.custom-page-header {
  margin-bottom: 20px;
  user-select  : none;
}

.el-input-number {
  width: 100% !important;

  .el-input__inner {
    text-align: unset !important;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin            : 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.custom-form {
  .el-input__suffix {
    top: 10px !important;
  }
}

.mobile-nav-drawer {
  .el-drawer {
    background-color: $--color-primary;
  }
}